/*banner*/
.banner {
    height: 500px;
    /*background-color: black;*/
    overflow: hidden;
    position: relative;
    margin: 2rem auto;
}

/*banner: picture*/
.banner .picture::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.banner .picture img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
    /*opacity: .75;*/
}

/*banner: side-nav*/
.bannertext {
    position: absolute;
    top: 20%;
    left: 50%;
    height: 25px;
    background-color: transparent;
    color: var(--green);
    text-shadow: 1px 1px 2px olivedrab;
    z-index: 3;
}

.bannertext h2 {
    font-size: var(--h1);
    font-weight: 700;
    margin-bottom: 1rem;
}

.bannertext p {
    font-size: var(--h5);
    margin-bottom: 2rem;
}

.bannertext > a {
    background-color: var(--gold);
    border-radius: 15px;
    padding: 4px 0.5rem;
    /*ajouter contrast*/
    box-shadow: 0 4px 4px rgba(0,0,0,.15);
    font-weight: 700;
}

.msg p{
    font-size: var(--h5);
    line-height: 28px;
    margin-bottom: 1rem;
}